@model GuessingGameFrontEnd.Models.SecretNumberModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guess the Secret Number</title>
</head>
<body>
    <form class="p-a-1" asp-action="GuessSecretNumberForm" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="UserGuess">Number to Guess:</label>
            <input class="form-control" asp-for="UserGuess" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Check Your Guess</button>
        </div>
    </form>
</body>
</html>
