@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Semester</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Hello high school students, it is @ViewBag.Semester!</h3>
        <h3>We are going to offer a summer robotics camp</h3>
        <h4>You can sign up the camp now:</h4>
        <a class="btn btn-primary" asp-action="SignupForm">Sign Up Now</a>
    </div>
</body>
</html>