@model IEnumerable<SummerCamp.Models.StudentSignup>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>RegistrationList</title>
</head>
<body>
    <div class="panel-body">
        <h2>Here is the list of students who have signed up the summer robotics camp</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SummerCamp.Models.StudentSignup r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>