<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_GuessingServiceInterface" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Service/GuessingService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_GuessingServiceInterface"
                contract="GuessingServiceInterface" name="WSHttpBinding_GuessingServiceInterface">
                <identity>
                    <userPrincipalName value="LAPTOP-GF40D0PL\madma" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>